
body {
  padding: 10px;
  background: rgb(154, 243, 12);
  color: rgb(55, 0, 255);
 

}


.products {
  margin: 1em;
  border-style: solid;
  color: rgb(186, 26, 39);
}
.product_img {
  display: inline;
  width: 20em;
  padding: 0.4em;
}
.prod_info {
  display: inline;
  position: relative;
  height: max-content;
  width: 30em;
  padding: 0.4em;
  margin: 0;
}
.heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aqua;
}
